*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:white;
}
li,a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
header{
    display: flex;
    justify-content:space-evenly;
}
.navlinks{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.navlinks li a:hover{
    color:hsl(26, 100%, 55%);
    box-shadow: 0px 40px 100px  hsl(26, 100%, 55%);
}
.logo{
    padding-left: 50px;
}
.cart{
    padding-left: 1000px;
    position: relative;
}
.profile{
    width: 100px;
    position: absolute;
    top: 30px;
    padding-left: 30px;
}
.shoe1{
    width: 600px;
    height: 600px;
    border-radius: 20px;
    margin-left: 40px;
    position: relative;
}
.shoe2{
    width: 160px;
    height: 150px;
    border-radius: 40px;
    padding: 30px;
}
.shoe3{
    width: 160px;
    height: 150px;
    border-radius: 40px;
    padding: 30px;
}
.shoe4{
    width: 160px;
    height: 150px;
    border-radius: 40px;
    padding: 30px;
}
.shoe5{
    width: 160px;
    height: 150px;
    border-radius: 40px;
    padding: 30px;
}
.next{
    display: flex;
    justify-content: baseline;
    margin-left: 20px;
}
.text{
    position: absolute;
    left: 1000px;
    bottom: 150px;
}
.first{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:hsl(25, 100%,55%) ;
}
.second{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 70px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}
.ruppee1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 50px;
    display: inline;
    position: relative;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
}
section{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
}
.qy{
    box-sizing: border-box;
    border-radius: 10px;
    width: 250px;
    height: 70px;
    word-spacing: 40px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: hsl(25, 100%, 94%);
    border: 0px;
    position: relative;
    box-shadow: 0 40px 100px  hsl(26, 100%, 55%);
}
.buy{
    border-radius: 10px;
    width: 400px;
    height: 70px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: hsl(26, 100%, 55%);
    border: 0px;
    position: absolute;
    left: 290px;
    box-shadow: 0 40px 100px  hsl(26, 100%, 55%);
}
.shoe2:hover{
    filter: opacity(50%);
    border: 5px solid hsl(26, 100%, 55%);
    border-radius: 20px;
    box-shadow: 0 40px 100px  hsl(26, 100%, 55%);
}
.shoe3:hover{
    filter: opacity(50%);
    border: 5px solid hsl(26, 100%, 55%);
    border-radius: 20px;
    box-shadow: 0 40px 100px  hsl(26, 100%, 55%);
}
.shoe4:hover{
    filter: opacity(50%);
    border: 5px solid hsl(26, 100%, 55%);
    border-radius: 20px;
    box-shadow: 0 40px 100px  hsl(26, 100%, 55%);
}
.shoe5:hover{
    filter: opacity(50%);
    border: 5px solid hsl(26, 100%, 55%);
    border-radius: 20px;
    box-shadow: 0 40px 100px  hsl(26, 100%, 55%);
}
.off{
    background-color: hsl(25, 100%, 94%);
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(25, 100%,55%);
    position: absolute;
    left: 200px;
    top: 400px;
}